body,
html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 80%;
    margin: 0;
    overflow-x: hidden;

}

.search-bar {

    height: 40px;
    width: 470px;
  
    border-radius: 100px;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.google-logo {

    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    padding-top: 109px;
    display: block;
    text-align: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
}

.buttons{

    text-align: center;
}

.buttons input[type=submit]{
    height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;

    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;

    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    margin-top: 30px;
}

footer{
    line-height: 20px;
    border-top: 1px solid #e4e4e4;
}

.footer li {
    display: inline;
    color: dimgray;
    padding-right: 20px;
    border-top: 1px solid #e4e4e4;
}
.footer a {
    color: #5f6368;
    font-size: 13px;
}
.footer ul {
    padding-left: 30px;
}

.region-text {
    padding-left: 30px;
    color: #5f6368;
}